zmq==0.0.0
numpy==1.18.3
torch==1.5.0
tensorboardX==2.0
graphviz==0.14
lxml==4.6.3
requests==2.23.0
pyinquirer==1.0.3
matplotlib==3.2.1
configargparse==1.2.3
torchaudio==0.5.0
nltk==3.6.4
pyyaml==5.4
g2p-en==2.1.0
parallel-wavegan==0.3.5
unidecode==1.1.1
sounddevice==0.3.15
pyaudio==0.2.11
pynput==1.6.8
opencv-python==4.2.0.34
tornado==6.1.0
black
isort
mdformat