wheel
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.1
Flask==1.1.2
flask-socketio==5.1.1
future==0.18.2
graphviz==0.14
idna==2.9
itsdangerous==1.1.0
Jinja2==2.11.3
lxml==4.6.3
MarkupSafe==1.1.1
numpy==1.18.3
prompt-toolkit==1.0.14
protobuf==3.11.3
Pygments==2.7.4
PyInquirer==1.0.3
python-engineio==4.2.1
python-socketio==5.4.0
pyzmq==19.0.0
regex==2020.4.4
requests==2.23.0
six==1.14.0
tensorboardX==2.0
torch==1.5.0
urllib3==1.25.9
wcwidth==0.1.9
Werkzeug==1.0.1
zmq==0.0.0
git+git://github.com/imgarylai/bert-embedding
