/* html {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
} */
body {
  /* height: 100vh;
  width: 100vw; */
  background-color: #cccccc;
  margin: 0px;
  padding: 0px;
  font-family: Sans-serif;
}

.grid-container-no-debug {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.1fr;
  grid-template-areas: "left" "bottom";
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 0.1fr;
  grid-template-areas: "left right" "bottom bottom";
}

.low {
  color: red;
}

.high {
  color: green;
}

.left {
  grid-area: left;
}

.right { grid-area: right; }

.bottom { grid-area: bottom; }

.languageBar {
  width: 100%;
  padding: 5px;
}
.langImg {
  width: 25px;
}
.langImgInactive {
  cursor: pointer;
  border-color: transparent;
}
.langImgActive {
  border-color: #FF8200;
}

.MessageList {
  /* display: grid; */
  /* grid-template-columns: 100%; */
  /* overflow-y: auto; */
  /* overflow-x:hidden; */
}

.party {
  border-radius: 5px;
  padding: 10px;
  margin: 10px 20px;
  max-width: 75%;
  color: #3e3e3e;
  font-size: 10px;
  padding: 1px;
  margin: 1px;
}
.system { 
  padding: 5px;
  position: relative;
  float: left;
  background: white;
  border-radius: .4em;
  clear: both;
  left: 20px;
  right: -20px;
}
.system::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-right-color: white;
  border-left: 0;
  border-top: 0;
  margin-top: -10px;
  margin-left: -20px;
}

.user { 
  padding: 5px;
  position: relative;
  background: #349eeb;
  border-radius: .4em;
  justify-self: end;
  float: right;
  clear: both;
  right: 20px;
}
.user:after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-left-color: #349eeb;
  border-right: 0;
  border-top: 0;
  margin-top: -10px;
  margin-right: -20px;
}

.chatwindow {
  /* display: grid; */
  height: 96%;
  grid-template-rows: 1fr auto;
  /* max-height: 100% */
}
.messagelist {
  overflow-y: scroll; 
  overflow-x: hidden;
  max-height: calc(100vh - 35px);
  grid-row: 1;
}
.chatbox {
  position: fixed;
  bottom: 0px;
  align-self: end;
  display: flex;
  width: 100%;
  height: 4%;
  /* height: 25px; */
  background: white;
}
.input {
  /* border-radius: 5px; */
  border: 0px;
  /* padding: 7px; */
  align-self: stretch;
  float: left;
  width: 90%;
}
.button {
  float: right;
  width: 10%;
  background: #00BEFF;
  border: 0px;
  /* border-radius: 7px; */
  /* padding: 5px; */
  font-size: 14px;
}

.module {
  text-align: center;
  border-radius: 5px;
  padding: 10px;
  margin: auto;
  max-width: 75%;
  border-color: #7a7a7a;
  color: #0184C1;
  -webkit-box-shadow: 0px 0px 10px 3px rgba(107,107,107,0.8);
  -moz-box-shadow: 0px 0px 10px 3px rgba(107,107,107,0.8);
  box-shadow: 0px 0px 10px 3px rgba(107,107,107,0.8);
}
.arrow {
  color: #0184C1;
  text-align: center;
  font-size: 30px;
}
.slotvaluecontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
}
.item {
  border-radius: 3px;
  padding-bottom: 5px;
  margin: 10px 5px;
  max-width: 90%;
  background: #e3e3e3;
  color: black;
}
.slot {
  margin: 3px;
  padding: 2px;
}
.value {
  width: auto;
  border-radius: 2px;
  max-width: 90%;
  background: white;
  margin: 3px;
  padding: 2px;
}
.header {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background: #349eeb;
  margin: 0;
  padding: 3px;
  color: white;
}

.TurnInfoList {
  display: grid;
  grid-template-columns: 100%;
  height: 100vh;
  max-height: 100vh;
  overflow-y: auto;
  }


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
